@page
@model Books
@{
    ViewData["Title"] = "All books";
}

<div class="text-center">
    <h1>All books</h1>
    @if (Model.AllBooks.Count == 0)
    {
        <p>No books</p>
    }
    else
    {
        foreach (var item in Model.AllBooks)
        {
            <p>@item</p>
        }
    }
</div>