@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Task 1: <a asp-page="/Books">Show all books</a></p>
    <p>Task 2: <a asp-page="/SearchBooks">Search</a></p>
</div>