table {
    border: 3px solid black;
    text-align: center;
    border-collapse: collapse ;
}

tr td {
    border-right: 1px solid black;
    border-left: 1px solid black;
} 
    
.menu {
    font-weight: bold;
    border: 1px solid black;
}

.test {
    border-bottom: 3px solid black;
}

tbody {
    text-align: left;
}

.one {
    text-align: right;
}

.test:first-child {
    background-color: rgb(93, 167, 167);
}

.menu:nth-child(n) {
    background-color: rgb(122, 158, 189);
}

tr:nth-child(n) {
    background-color:rgb(122, 158, 189);
}

tr:nth-child(2n) {
    background-color: rgb(70, 145, 210);
}