@page
@model IndexModel
@{
    ViewData["Title"] = "Shapes Index";
}

<h1>Select a Shape to View</h1>

<ul>
    <li><a asp-page="/Shapes/Circle">Circle</a></li>
    <li><a asp-page="/Shapes/Square">Square</a></li>
</ul>