@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #555;
    background-color: #aaa;
    display: flex;
    align-items:center;
    justify-content: center;
}

img {
    width: 100%;
    display:block;
}

select, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    display:block;
    width: 100%;
    border:none;
    outline:none;
    background-color: rgb(240, 255, 223);
    /* line-height: 40px; */
    padding: 5px 15px;

}

.calculator {
    background-color: #fff;
    max-width: 800px;
    width: 90%;
    min-height: 400px;
    box-shadow: 0 0 10px #555;
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    grid-template-rows: auto 1fr auto;   
}

.calculator>div {
    padding: 15px;
}

.calculator__icon {
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    justify-content:center;
    align-items:center;
}

.calculator__add {}

.calculator__total {
    border-top: dashed #555 1px;
    text-align: center;
}

.calculator__total p span {
    color:rgb(206, 65, 40);
    font-weight:bold

}

.rooms {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-column-gap: 5px;
}

.rooms__btn {
    background-color:rgb(85, 158, 1);
    display:block;
    text-align: center;
    line-height: 40px;
    color:rgb(240, 255, 223);
    font-weight:bold;
    cursor:pointer;
}

.rooms__btn:hover {
    background-color:rgb(110, 187, 22);
}

.rooms__btn--show {
    display:block;
}

.rooms__btn--hidden {
    display:none;
}


@media screen and (max-width: 768px) {
    .calculator {
        grid-template-columns: 1fr;
    } 

    img{
        width: 250px;        
    }
}