* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.gallery {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 980px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    list-style-type: none;
}

.gallery_item {
    position: relative;
    overflow: hidden;
    background-color: #ab6666;
}

img {
    display: block;
    transform: scale(1.5);
    width: 100%;
    transition-duration: 1s;
    transition-property: transform opacity;
}

.gallery_text {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    transition-property: transform;
    transition-duration: 1s;
    background-color: #fff;
}

span {
    display: block;
}

span+span {
    font-size: 1.5em;
}

.gallery_item:hover img{
    transform: scale(1);
    opacity: 0.5;
}

.gallery_item:hover .gallery_text {
    transform: translateY(-20px);
}

.gallery_item:hover {
    cursor: pointer;
}

.gallery_text::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -10px;
}