* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #c9c9c9;
    margin: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.product {
    position: relative;
    padding: 20px;
    transition: transform 0.3s;
}

.block1 {
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    opacity: 0;
    margin: auto;
    position: absolute;
    background-color: black;
    padding: 10px;
    transform: translate(-50%, -50%);
    transition: transform 1s, opacity 0.2s, width 0.5s, height 0.5s;
}

.block2 {
    top: 50%;
    left: 50%;
    margin: auto;
    width: 90%;
    height: 90%;
    overflow: hidden;
    border: 1px solid white;
}

.korz {
    margin-top: 10px;
}

.product:hover .block1{
    width: 120px;
    height: 80px;
    opacity: 1;
    transition: transform 0.5s, opacity 0.2s, width 0.5s, height 0.5s;
}

.main > div {
    text-align: center;
}

.crossed {
    text-decoration: line-through;
    opacity: 50%;
}

.zir {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
    margin-left: 7px;
}

div > div:hover .name{
    color: yellow;
}

.block2:hover .k {
    opacity: 0;
}

.block2:hover .korz {
    background-image: url(images/cart_hover.png);
    background-repeat: no-repeat;
    background-position: center;
}