/* .main {
    font-weight: bold;
}

span {
    font-weight: normal;
    color: darkblue;
}

dt {
    color: white;
    margin-left: 7%;
}

dd {
    background-color: #1f5461;
    color: white;
    margin-left: 2%;
}

div {
    margin-bottom: 2%;
}

.o {
    background-color: rgb(38, 82, 85);
    margin-bottom: -0.01em;
} */
.main {
font-weight: bold;
}

span {
font-weight: normal;
color: darkblue;
}

dt {
color: white;
margin-left: 7%;
}

dd {
background-color: #1f5461;
color: white;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
}

div {
margin-bottom: 2%;
}

.o {
background-color: rgb(38, 82, 85);
margin-bottom: -0.01em;
}

p {
    font-size: 0.85em;
}