* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 5px;
}

.block {
    background-color: rgb(8, 80, 80);
    margin: 10px auto;
    width: 80%;
    max-width: 1200px;

    display: grid;

    grid-template-areas: 'm m'
                        'n n'
                        'a i';
    gap: 10px;
    padding: 50px;
}

.account {
    grid-area: a;
}

.account img {
    height: 60px;
    width: 60px;
}

.menu {
    color: gray;
    font-weight: 100;
    grid-area: m;
    font-size: 12px;
}

.information {
    display: flex;
    grid-area: i;
    align-items: center; 
    justify-content: space-between;
}

.name {
    grid-area: n;
    width: 50%;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}


.up {
    color: grey;
    font-size: 10px;
    font-weight: 100;
    text-align: left;
}

.low {
    font-weight: 200;
    font-size: 12px;
}

@media screen and (max-width: 600px){
    .block {
        grid-template-areas: 'm m'
                             'n n'
                             'a i';
    }

    .information {
        width: auto;
        flex-wrap: wrap;
    }

    .item {
        padding: 10px;
        box-sizing: border-box;
        width: 50%;
    }

    .menu {
        font-size: 14px;
    }

    .account img {
        height: 100px;
        width: 100px;
    }
}