.main {
    width:90%;
    max-width: 1200px;
    margin: 10px auto;
    background-color: #fff;
    overflow: hidden;
}

.main>div {
    float: left;
}

article {
    margin: 10px;
}

.picture {
    height: 150px;
    background-color: #bb3939;
    margin: 10px;
}

article {
    overflow: hidden;
}

article .picture {
    width: calc(50% - 20px);
    float: left;
    display: none;
}

@media screen and (max-width: 768px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    article .picture {
        display: block;
    }
}

@media screen and (max-width:540px) and (orientation: landscape) {
    article .picture {
        width: calc(100% - 20px)
    }
}