.clock {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    border: 3px solid rgb(35, 102, 96);
    
}

.hour, .minute {
    position: absolute;
    top: 50%;
    width: 45%;
    height: 2px;
    left: 5%;
    background-color:rgb(35, 102, 96);
    transform-origin: 100%;
}

.minute {
    animation: Minute 3s infinite linear;
    background-color: rgb(35, 102, 96); 
    left: 10%;
    width: 40%;
}

.hour {
    animation: Clock 8s infinite linear;
    background-color:rgb(35, 102, 96); 
}

.center {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: rgb(35, 102, 96);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@keyframes Clock {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes Minute {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}