* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

h2 {
    margin: 10px 0;
}

.wrapper {
    border: 1px dashed #000;
    width: 90%;
    margin: 10px auto;
}

.header, .left, .right {
    padding: 20px;
    border: 1px solid #000;
    background-color:crimson;
    color: #fff;
}

/* Example float */

.content {
    overflow: hidden;
}

.content .left {
    float: left;
}

.example1 .right {
    float: right;
}

.example1 .left, .example1 .right {
    width: 35%;
}

/* Example flex */

.example2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.example2 .header {
    flex-grow: 1;
    flex-basis: 100%;
}

.example2 .right, .example2 .left {
    flex-grow: 1;
    flex-basis: (50% - 25px);
}