* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 10px auto ;
    height: 600px;
    overflow: hidden;
    max-width: 1200px;
    text-align: center;
    width: 90%;

}

.first , .second {
    height: 200px;
    background-color: rgb(56, 76, 204);
    position: relative;
    width: calc(100% / 2 );
 
}

.left {
    float: left;
}

.first {
    z-index: 2;
    padding: 90px;
    flex: 1;
}

.right {
    float: right;
}

.second {
    background-image: url(pic/paporotnik.jpg);
    background-size: cover;
    transition-property: transform,opacity;
    right: 0;
    left: 0;
    bottom: 0;
    transition-duration:1s ;
    top: 0;
}

.second:hover {
    transform: scale(2);
}

.block {
    overflow: hidden;
}