* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c5b6b6;
}

h2, .first, .second, .third {
    margin-left: 20px;
}

.main {
    display: grid;
    grid-template-areas: 'h bl1'
                         'f bl1'
                         's bl2'
                         't bl2';
    gap: 15px;
}

.bl1 img, .bl2 img {
    height: 225px;
    border-radius: 15px;
    width: 350px;
}

.bl1, .bl2 {
    height: 280px;
    width: 350px;
    border-radius: 15px;
    background-color: rgb(53, 59, 93);
}

.bl1 p, .bl2 p {
    color: white;
    margin: 10px 10px;
    text-align: right;
}

.header { grid-area: h;}
.bl1 { grid-area: bl1;}
.bl2 { grid-area: bl2;}
.bl1rst { grid-area: f;}
.second { grid-area: s;}
.third { grid-area: t;}

@media screen and (min-width: 600px) and (max-width: 800px){

    .main {
        grid-template-areas: 'h h'
                             'f f'
                             'bl1 bl2'
                             's s'
                             't t';
    }
}

@media screen and (max-width: 600px) {

    .main {
        grid-template-areas: 'h' 'f' 'bl1' 'bl2' 's' 't';
    }

    .bl1, .bl2 {
        width: 100%;
    }

    .bl1 img, .bl2 img {
        width: 100%;
    }
}